<div class="jumbotron hero7">
 <h1 class="heroh1">Apartment Brisas</h1>
 <h2 class="heroh2">Availability and Booking</h2>
</div>
<div class="container">
	<div class="row">
        <div class="box">
            <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Terms and conditions</h2>
                    <hr>
                    <ul>
                        <li>We require a full list of names of the clients renting</li>
                        <li>We require flight details for smooth change over</li>
                        <li>We always recommend insurance</li>
                        <li>A none-refundable deposit of £50 to secure any bookings</li>
                        <li>REFUNDABLE £50 security deposit required with final balance payment (separate cheque, sent back after holiday)</li>
                        <li>Remaining balance to be paid in full 4 weeks prior to arrival</li>
                        <li>40 Euros cleaning cost per booking up to 2 weeks</li>
                        <li>60 Euros cleaning cost per booking 3 weeks or more</li>
                        <li>On the day of arrival especially at busy times (clients departing/arriving on same day) there needs to be a swift 'change over', the apartment will be ready by 2pm.</li>
                        <li>If your flight comes in earlier, we can arrange for bags to be stored in the apartment whilst being cleaned</li>
                        <li>On the day of departure, vacate the apartment by 10am.</li>
                    </ul>
                    <hr>
                    <h2 class="intro-text text-center">Long Lets</h2>
                    <hr>
                    <ul>
                        <li>We require a full list of names of the clients letting</li>
                        <li>We require flight details for smooth change over</li>
                        <li>We alway recommend insurance</li>
                        <li>For longer 'Lets' a larger deposit is required and RETURNED after your stay</li>
                        <li>Balance to be paid in full straight away</li>
                        <li>Cleaning costs per booking 60 Euros, to be left on the table for cleaner</li>
                        <li>On the day of arrival especially at busy times (clients departing/arriving on same day) there needs to be a swift 'change over', the apartment will be ready by 2pm. <br />If your flight comes in earlier, we can arrange for bags to be stored in the apartment whilst being cleaned</li>
                        <li>On the day of departure, vacate the apartment by 10am.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>